In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('C:/Users/kdeep/Desktop/ML LAB/vgsales.csv')

In [3]:
df1.head(20)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22

In [4]:
df1.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [5]:
#Checking for null values
df1.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [6]:
df1.shape

(16598, 11)

In [7]:
#Checking total number of null values
df1.isnull().sum().sum()

329

In [8]:
df1.dropna(axis='columns').head()

,Rank,Name,Platform,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,Sports,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,Platform,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,Racing,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,Sports,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,Role-Playing,11.27,8.89,10.22,1.00,31.37

In [9]:
df1.shape

(16598, 11)

In [10]:
df1.isnull().sum().sum()

329

In [11]:
df1.dropna(axis='rows').head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [12]:
df1.shape

(16598, 11)

In [15]:
#Imputation
threshold = 0.7
#Dropping columns with missing value rate higher than threshold
df = df1[df1.columns[df1.isnull().mean() < threshold]]

#Dropping rows with missing value rate higher than threshold
df1 = df1.loc[df1.isnull().mean(axis=1) < threshold]

In [16]:
df1.head(20)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22

In [17]:
df1.shape

(16598, 11)

In [18]:
#Filling all missing values with 0
df1 = df1.fillna(0)

#Filling missing values with medians of the columns
df1 = df1.fillna(df1.median())

In [19]:
df1.shape

(16598, 11)

In [20]:
#Checking for null values
df1.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [23]:
#Max fill function for categorical columns
df1['Publisher'].fillna(df1['Publisher'].value_counts()
.idxmax(), inplace=True)

In [24]:
df1['Publisher']

0          Nintendo
1          Nintendo
2          Nintendo
3          Nintendo
4          Nintendo
            ...
16593         Kemco
16594    Infogrames
16595    Activision
16596      7G//AMES
16597       Wanadoo
Name: Publisher, Length: 16598, dtype: object

In [25]:
df1.head(20)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22

In [26]:
#Dropping the outlier rows with standard deviation
factor = 3
upper_lim = df1['Global_Sales'].mean () + df1['Global_Sales'].std () * factor
print(upper_lim)
lower_lim = df1['Global_Sales'].mean () - df1['Global_Sales'].std () * factor
print(lower_lim)

df1 = df1[(df1['Global_Sales'] < upper_lim) & (df1['Global_Sales'] > lower_lim)]
df1['Global_Sales'].head()

5.202524462210446
-4.127643151208966

181    5.20
182    5.20
183    5.19
184    5.19
185    5.18
Name: Global_Sales, dtype: float64

In [27]:
df1.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
181,182,Diablo III,PC,2012.0,Role-Playing,Activision,2.43,2.15,0.00,0.62,5.20
182,183,Super Mario Bros. 3,GBA,2003.0,Platform,Nintendo,2.93,1.25,0.83,0.20,5.20
183,184,New Super Mario Bros. U,WiiU,2012.0,Platform,Nintendo,2.32,1.30,1.27,0.31,5.19
184,185,Super Mario Land 3: Wario Land,GB,1994.0,Platform,Nintendo,2.49,0.98,1.57,0.15,5.19
185,186,FIFA Soccer 13,X360,2012.0,Action,Electronic Arts,1.08,3.48,0.03,0.58,5.18

In [28]:
df1.shape

(16417, 11)

In [29]:
#Dropping the outlier rows with Percentiles
upper_lim = df1['Global_Sales'].quantile(.95)
lower_lim = df1['Global_Sales'].quantile(.05)

df1 = df1[(df1['Global_Sales'] < upper_lim) & (df1['Global_Sales'] > lower_lim)]
df1['Global_Sales'].head()

1003    1.75
1004    1.75
1005    1.75
1006    1.75
1007    1.75
Name: Global_Sales, dtype: float64

In [30]:
df1['Publisher']

1003                  Electronic Arts
1004                      Square Enix
1005                       Activision
1006     Konami Digital Entertainment
1007           Microsoft Game Studios
                     ...
14904                       Banpresto
14905                    Kids Station
14906                        ChunSoft
14907                         Success
14908     Sony Computer Entertainment
Name: Publisher, Length: 13906, dtype: object

In [31]:
#Numerical Binning ExampleValue      Bin       
#0-1999   ->  90s      
#2000-2019  ->  2000s       
#2020 ->  2020s

#df1['bin'] = pd.cut(df1['Year'],bins[0,1999,2019,2030],labels = ["90s","2000s","2020s"])
#df.head()

df1['bin'] = pd.cut(df1['Year'], bins=[1980,1999,2019,2030], labels=["90s", "Early 2000s", "2020s"])
df1.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,bin
1003,1005,Madden NFL 2000,PS,1998.0,Sports,Electronic Arts,1.68,0.04,0.00,0.04,1.75,90s
1004,1006,Kingdom Hearts,PS3,2013.0,Role-Playing,Square Enix,0.90,0.37,0.25,0.24,1.75,Early 2000s
1005,1007,Star Wars: Battlefront,XB,2004.0,Shooter,Activision,1.24,0.45,0.00,0.07,1.75,Early 2000s
1006,1008,Pro Evolution Soccer,PS2,2001.0,Sports,Konami Digital Entertainment,0.06,0.90,0.53,0.27,1.75,Early 2000s
1007,1009,Crackdown,X360,2007.0,Shooter,Microsoft Game Studios,1.00,0.54,0.03,0.18,1.75,Early 2000s

In [33]:
df2 = pd.read_csv('C:/Users/kdeep/Desktop/ML LAB/vgsales.csv')
df2.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [34]:
#Log transforms
df2['log+1'] = (df2['Global_Sales']+1).transform(np.log)
df2.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,log+1
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,4.427717
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,3.719409
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,3.606041
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,3.526361
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,3.477232
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,3.442339
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01,3.434310
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02,3.401864
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62,3.388450
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,3.377929

In [36]:
df3 = pd.read_csv('C:/Users/kdeep/Desktop/ML LAB/vgsales.csv')
df2.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [38]:
#One Hot encoding
encoded_columns = pd.get_dummies(df3["Genre"])
df3 = df3.join(encoded_columns,how='right',lsuffix='_left',rsuffix='_right')
df3.head(10)

,Rank,Name,Platform_left,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,...,Fighting,Misc,Platform_right,Puzzle,Racing,Role-Playing,Shooter,Simulation,Sports,Strategy
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,...,0,0,0,0,0,0,0,0,1,0
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,...,0,0,1,0,0,0,0,0,0,0
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,...,0,0,0,0,1,0,0,0,0,0
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,...,0,0,0,0,0,0,0,0,1,0
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,...,0,0,0,0,0,1,0,0,0,0
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,...,0,0,0,1,0,0,0,0,0,0
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,...,0,0,1,0,0,0,0,0,0,0
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,...,0,1,0,0,0,0,0,0,0,0
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,...,0,0,1,0,0,0,0,0,0,0
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,...,0,0,0,0,0,0,1,0,0,0

In [41]:
df4 = pd.read_csv('C:/Users/kdeep/Desktop/ML LAB/vgsales.csv')
df4.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [42]:
df4.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [46]:
#Grouping using pivot table
table = pd.pivot_table(df4,columns=['Genre'],values=['NA_Sales','EU_Sales','JP_Sales','Global_Sales'], aggfunc= np.sum, fill_value=0)
table

Genre,Action,Adventure,Fighting,Misc,Platform,Puzzle,Racing,Role-Playing,Shooter,Simulation,Sports,Strategy
EU_Sales,525.00,64.13,101.32,215.98,201.63,50.78,238.39,188.06,313.27,113.38,376.85,45.34
Global_Sales,1751.18,239.04,448.91,809.96,831.37,244.95,732.04,927.37,1037.37,392.20,1330.93,175.12
JP_Sales,159.95,52.07,87.35,107.76,130.77,57.31,56.69,352.31,38.28,63.70,135.37,49.46
NA_Sales,877.83,105.80,223.59,410.24,447.05,123.78,359.42,327.28,582.60,183.31,683.35,68.70

In [49]:
df4 = pd.read_csv('C:/Users/kdeep/Desktop/ML LAB/vgsales.csv')
df4['normalized'] = (df4['Global_Sales']-df4['Global_Sales'].min())/(df4['Global_Sales'].max() - df4['Global_Sales'].min())
df4.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,normalized
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,1.000000
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.486281
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0.432854
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0.398767
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.379064
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,0.365647
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01,0.362625
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02,0.350659
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62,0.345824
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,0.342077

In [50]:
df4 = pd.read_csv('C:/Users/kdeep/Desktop/ML LAB/vgsales.csv')
df4['standardized'] = (df4['Global_Sales']-df4['Global_Sales'].mean())/(df4['Global_Sales'].std())
df4.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,standardized
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,52.862433
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,25.531734
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,22.689341
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,20.875869
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,19.827656
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,19.113843
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01,18.953074
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02,18.316429
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62,18.059199
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,17.859846

In [51]:
df5 = pd.read_csv('C:/Users/kdeep/Desktop/ML LAB/Beach_Weather_Stations_-_Automated_Sensors.csv')
df5.head(5)

,Station Name,Measurement Timestamp,Air Temperature,Wet Bulb Temperature,Humidity,Rain Intensity,Interval Rain,Total Rain,Precipitation Type,Wind Direction,Wind Speed,Maximum Wind Speed,Barometric Pressure,Solar Radiation,Heading,Battery Life,Measurement Timestamp Label,Measurement ID
0,63rd Street Weather Station,09/27/2018 10:00:00 AM,16.40,12.2,61,0.0,0.0,260.3,0.0,231,2.5,4.7,996.3,484,356.0,11.9,09/27/2018 10:00 AM,63rdStreetWeatherStation201809271000
1,63rd Street Weather Station,09/27/2018 11:00:00 AM,17.10,11.5,51,0.0,0.0,260.3,0.0,244,3.6,5.7,995.4,468,356.0,11.9,09/27/2018 11:00 AM,63rdStreetWeatherStation201809271100
2,63rd Street Weather Station,09/27/2018 01:00:00 PM,18.20,12.4,51,0.0,0.0,260.3,0.0,248,3.1,5.3,994.8,377,355.0,11.9,09/27/2018 1:00 PM,63rdStreetWeatherStation201809271300
3,Foster Weather Station,09/27/2018 01:00:00 PM,17.89,NaN,39,NaN,0.0,NaN,NaN,249,1.4,2.3,993.6,0,NaN,15.1,09/27/2018 1:00 PM,FosterWeatherStation201809271300
4,63rd Street Weather Station,09/27/2018 03:00:00 PM,19.50,13.0,47,0.0,0.0,260.3,0.0,249,3.1,5.7,992.9,461,355.0,11.9,09/27/2018 3:00 PM,63rdStreetWeatherStation201809271500

In [52]:
#printing date from the time stamp
print(df5['Measurement Timestamp'].str.split(" ").map(lambda x:x[0]))
#printing time from the time stamp
print(df5['Measurement Timestamp'].str.split(" ").map(lambda x:x[-1]))

0         09/27/2018
1         09/27/2018
2         09/27/2018
3         09/27/2018
4         09/27/2018
             ...
109977    09/27/2018
109978    09/27/2018
109979    12/05/2020
109980    12/05/2020
109981    12/05/2020
Name: Measurement Timestamp, Length: 109982, dtype: object
0         AM
1         AM
2         PM
3         PM
4         PM
          ..
109977    AM
109978    AM
109979    PM
109980    PM
109981    PM
Name: Measurement Timestamp, Length: 109982, dtype: object

In [54]:
from datetime import date
#printing date from the time stamp
datedf = df5['Measurement Timestamp'].str.split(" ").map(lambda x:x[0])
datedf.head(5)

0    09/27/2018
1    09/27/2018
2    09/27/2018
3    09/27/2018
4    09/27/2018
Name: Measurement Timestamp, dtype: object

In [64]:

datedf.columns =['Measurement Timestamp']

In [66]:
df6=datedf.head(20)

In [67]:
df6.head()

0    09/27/2018
1    09/27/2018
2    09/27/2018
3    09/27/2018
4    09/27/2018
Name: Measurement Timestamp, dtype: object

In [68]:
import pandas as pd
df6=datedf.head(20)
df6.head()

0    09/27/2018
1    09/27/2018
2    09/27/2018
3    09/27/2018
4    09/27/2018
Name: Measurement Timestamp, dtype: object

In [74]:
import pandas as pd
df6=datedf.head(20)
df6.columns =['Timestamp']
df6.head()

0    09/27/2018
1    09/27/2018
2    09/27/2018
3    09/27/2018
4    09/27/2018
Name: Measurement Timestamp, dtype: object

In [70]:
#Extracting Year
datedf['Year'] = datedf.dt.year

#Extracting Month
#datedf['Month'] = datedf['Measurement Timestamp'].dt.month

#Extracting passed years since the date
#datedf['Passed_Years'] = date.today().year - datedf['Measurement Timestamp'].dt.year

#Extracting the weekday name of the date
#datedf['day_name'] = datedf['Measurement Timestamp'].dt.day_name()

AttributeError: Can only use .dt accessor with datetimelike values

In [75]:
from datetime import date

data = pd.DataFrame({'date':
['01-01-2017',
'04-12-2008',
'23-06-1988',
'25-08-1999',
'20-02-1993',
'14-08-2009',
'05-11-1991',
'29-08-1992'
]})

In [79]:
#Transform string to date
data['date'] = pd.to_datetime(data.date, format="%d-%m-%Y")

#Extracting Year
data['year'] = data['date'].dt.year

#Extracting Month
data['month'] = data['date'].dt.month

#Extracting passed years since the date
data['passed_years'] = date.today().year - data['date'].dt.year

#Extracting passed months since the date
data['passed_months'] = (date.today().year - data['date'].dt.year) * 12 + date.today().month - data['date'].dt.month

#Extracting the weekday name of the date
data['day_name'] = data['date'].dt.day_name()
data.head(8)

        date  year  month  passed_years  passed_months   day_name
0 2017-01-01  2017      1             4             50     Sunday
1 2008-12-04  2008     12            13            147   Thursday
2 1988-06-23  1988      6            33            393   Thursday
3 1999-08-25  1999      8            22            259  Wednesday
4 1993-02-20  1993      2            28            337   Saturday
5 2009-08-14  2009      8            12            139     Friday
6 1991-11-05  1991     11            30            352    Tuesday
7 1992-08-29  1992      8            29            343   Saturday

In [40]:
#Categorical column Grouping
df4.groupby(["Genre"]).agg(lambda x:x.value_counts().index[0])

,Rank,Name,Platform,Year,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Genre,,,,,,,,,,
Action,2047,Ratatouille,PS3,2009.0,Activision,0.0,0.0,0.0,0.0,0.02
Adventure,6142,The Walking Dead: Season One,DS,2008.0,Idea Factory,0.0,0.0,0.0,0.0,0.02
Fighting,6141,WWE All Stars,PS2,2008.0,Namco Bandai Games,0.0,0.0,0.0,0.0,0.06
Misc,16380,Monopoly,DS,2008.0,Ubisoft,0.0,0.0,0.0,0.0,0.02
Platform,12287,Wall-E,GBA,2003.0,Nintendo,0.0,0.0,0.0,0.0,0.03
Puzzle,11263,Bejeweled 3,DS,2009.0,Nintendo,0.0,0.0,0.0,0.0,0.02
Racing,4094,Need for Speed: Most Wanted,PS2,2003.0,Electronic Arts,0.0,0.0,0.0,0.0,0.02
Role-Playing,4095,Marvel: Ultimate Alliance 2,DS,2008.0,Namco Bandai Games,0.0,0.0,0.0,0.0,0.02
Shooter,11278,Call of Duty: Ghosts,X360,2005.0,Activision,0.0,0.0,0.0,0.0,0.02
Simulation,5218,The Sims 2,DS,2009.0,Ubisoft,0.0,0.0,0.0,0.0,0.02
Sports,10239,FIFA 14,PS2,2008.0,Electronic Arts,0.0,0.0,0.0,0.0,0.02
Strategy,13861,Angry Birds Star Wars,PC,2007.0,Namco Bandai Games,0.0,0.0,0.0,0.0,0.02